<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>Demo Chat</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.min.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/js.cookie.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.jquery.min.js"></script>
	<script type="text/javascript" src="js/chat.js"></script>
</head>
<body>
	<div id="background"></div>
	<div id="container">
		<aside id="users">
			<div id="user_info">
				<img src="pic/empty.jpg" />
				<span id="user_id">?????</span>
				<div id="user_status">状态：<span id="status">在线</div>
			</div>
			<div id="user_list">
				<ul>
					<li><img src="pic/room.jpg" /><div class="user_name">所有人</div></li>
					<li class="active"><img src="pic/pic2.jpg" /><div class="user_name">Ghost 1</div></li>
					<li><img src="pic/pic3.jpg" /><div class="user_name">Ghost 2</div></li>
					<li><img src="pic/pic4.jpg" /><div class="user_name">Ghost 3</div></li>
					<li><img src="pic/pic5.jpg" /><div class="user_name">Ghost 4</div></li>
					<li><img src="pic/pic6.jpg" /><div class="user_name">Ghost 5</div></li>
					<li><img src="pic/pic7.jpg" /><div class="user_name">Ghost 6</div></li>
				</ul>
			</div>
		</aside>
		<article>
			<div id="chat_title">
				<span id="title">大厅(6)</span>
			</div>
			<div id="chat_content"></div>
			<div id="chat_input">
				<div id="chat_toolbar"></div>
				<div id="say_something">
					<textarea></textarea>
				</div>
				<span id="action">
					<a href="javascript:;">发送</a>
				</span>
			</div>
		</article>
	</div>
</body>
</html>