<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>Demo Chat</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/js.cookie.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/chat.js"></script>
</head>
<body>
	<div id="background"></div>
	<div id="container">
		<aside id="users">
			<div id="user_info">
				<img src="pic/empty.jpg" />
				<span id="user_id">?????</span>
				<div id="user_status">状态：<span id="status" title="点击可切换为免打扰状态">在线 <span>▼</span></span></div>
			</div>
			<div id="user_list">
				<ul>
					<li><img src="pic/room.jpg" /><div class="user_name"><span class="name">所有人</span><span class="time"></span></div><div class="last_message"></div></li>
					<li class="active"><img src="pic/pic2.jpg" /><div class="user_name"><span class="name">Ghost 1</span><div class="last_message"></div></div></li>
					<li><img src="pic/pic3.jpg" /><div class="user_name"><span class="name">Ghost 1</span><div class="last_message"></div></div></li>
					<li><img src="pic/pic4.jpg" /><div class="user_name"><span class="name">Ghost 2</span><div class="last_message"></div></div></li>
				</ul>
			</div>
		</aside>
		<article>
			<div id="chat_title">
				<span id="title">大厅(3)</span>
			</div>
			<div id="chat_content"></div>
			<div id="chat_input">
				<div id="chat_toolbar"></div>
				<div id="say_something">
					<textarea></textarea>
				</div>
				<span id="action">
					<span id="hint">使用Ctrl+Enter输入回车</span>
					<a href="javascript:;">发送</a>
				</span>
			</div>
		</article>
	</div>
	<footer>Powered by socket.io | Online users: <span id="on">0</span>, Quiet users: <span id="qu">0</span></footer>
</body>
</html>