<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>Demo Chat</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div id="container">
		<form id="login" method="post">
			<div id="form">
				<label for="nickname">How could we call you?</label>
				<input type="text" name="nickname" id="nickname" maxlength="15" />
				<label for="password">How could we identify you?</label>
				<input type="password" name="password" id="password" maxlength="20" />
				<br>
				<button type="submit" id="login">Come in, please.</button>
			</div>
		</form>
	</div>
</body>
</html>