html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Microsoft Yahei", Helvetica, sans-serif;
}
pre{
	margin: 0;
	font-family: "Microsoft Yahei", Helvetica, sans-serif;
}
@media (min-width: 1000px){
	div#background{
		width: 100%;
		height: 100%;
		background-image: url("../pic/background.jpg");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
		filter: blur(12px);
		z-index: 1;
	}
	div#container{
		width: 1000px;
		height: 750px;
		position: absolute;
		margin: -375px 0 0 -500px;
		left: 50%;
		top: 50%;
		background-color: snow;
		z-index: 10;
	}
}
@media (max-width: 1000px){
	div#container{
		width: 100%;
		height: 100%;
		background-color: snow;
		z-index: 10;
	}
}
aside{
	position: absolute;
	height: 100%;
	width: 200px;
	background-color: #2e3238;
	border-right: 1px solid #ccc;
}
aside img{
	height: 50px;
	width: 50px;
}
aside div#user_info{
	font-size: 18px;
	border-bottom: 2px solid #3f4349;
	height: 75px;
}
aside div#user_info img{
	margin: 15px 10px 10px 15px;
	float: left;
}
aside span#user_id{
	margin-left: 75px;
	width: 125px;
	line-height: 3em;
	color: #eee;
	font-weight: bold;	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
aside div#user_status{
	font-size: 12px;
	color: #999;
	margin-top: -10px;
}
aside div#user_status #status{
	font-weight: bold;
}
aside div#user_status .online{
	color: green;
}
aside div#user_status .offline{
	color: red;
}
@media (min-width: 1000px){
	aside div#user_list{
		height: 675px;
		overflow-y: auto;
	}
}
@media (max-width: 1000px){
	aside div#user_list{
		position: absolute;
		top: 77px;
		bottom: 0px;
		width: 200px;
		overflow-y: auto;
	}
}
aside div#user_list ul{
	padding: 0;
	margin: 0 4px;
}
aside div#user_list li{
	display: block;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #1d2127;
}
aside div#user_list img{
	width: 40px;
	height: 40px;
	float: left;
	margin: 10px 7px;
}
aside div.user_name{
	color: ivory;
	font-size: 15px;
	line-height: 60px;
	margin-left: 60px;
}
aside div#user_list li:hover{
	cursor: pointer;
}
aside li.active{
	background-color: #3a3f45;
}
article{
	margin-left: 200px;
}
@media (max-width: 1000px){
	article{
		height: 100%;
	}
}
@media (min-width: 1000px){
	div#chat_title{
		width: 95%;
		margin: 0 auto;
		border-bottom: 1px solid #ccc;
		line-height: 3em;
		text-align: center;
	}
	div#chat_content{
		height: 470px;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 10px 10px 0 10px;
		background-color: snow;
	}
}
@media (max-width: 1000px){
	div#chat_title{
		width: 95%;
		margin: 0 auto;
		border-bottom: 1px solid #ccc;
		line-height: 3em;
		text-align: center;
	}
	div#chat_content{
		height: 70%;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 10px 10px 0 10px;
		background-color: snow;
	}
}
div#chat_content div.sys{
	margin-bottom: 10px;
}
div#chat_input{
	height: 200px;
}
div#chat_toolbar{
	height: 40px;
	background-color: #ccc;
}
div#say_something{
	height: 137px;
}
@media (min-width: 1000px){
	div#say_something textarea{
		width: 784px;
		height: 125px;
		border: 0;
		resize: none;
		padding-top: 10px;
		padding-left: 10px;
		font-family: Helvetica, "Microsoft Yahei", sans-serif;
		font-size: 15px;
		overflow-y: hidden;
	}
}
@media (max-width: 1000px){
	div#say_something textarea{
		height: 125px;
		border: 0;
		resize: none;
		padding-top: 10px;
		padding-left: 10px;
		font-family: Helvetica, "Microsoft Yahei", sans-serif;
		font-size: 15px;
		overflow-y: hidden;
	}
}
textarea:focus{
	outline-width: 0;
}
span#action{
	float: right;
	margin-right: 30px;
}
span#action a{
	display: inline-block;
	width: 6em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 3px;
	text-decoration: none;
	color: #333;
	font-size: 14px;
}
span#action span#hint{
	color: #999;
	font-size: 10px;
	margin-right: 20px;
}
.screen{
	width: 14em;
	height: 2em;
	position: absolute;
	margin: -1em 0 0 -7em;
	left: 50%;
	top: 50%;
	font-family: Helvetica, "Microsoft Yahei", sans-serif;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.sys{
	display: table;
	margin: 0 auto;
	height: 1.5em;
	padding: 0 10px;
	font-size: 12px;
	background-color: #999;
	color: #fff;
	border-radius: 4px;
	text-align: center;
}
.others, .self{
	display: table;
	position: relative;
	max-width: 550px;
	font-size: 15px;
	min-height: 2em;
	padding: 5px 10px;
	line-height: 30px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 3px;
	z-index: 20;
}
.others{
	float: left;
	background-color: #fff;
	border: 1px solid #ddd;
}
.self{
	float: right;
	background-color: limegreen;
}
img.avatar-l, img.avatar-r{
	width: 40px;
}
img.avatar-l{
	float: left;
	margin-right: 15px;
}
img.avatar-r{
	float: right;
	margin-left: 15px;
}
div.avatar-name{
	color: #999;
	font-size: 10px;
	line-height: 10px;
	margin-bottom: 5px;
}
div.arrow-left, div.arrow-right{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position: absolute;
}
div.arrow-left{
	margin-left: -15px;
	top: 15px;
	border-right: 5px solid #fff;
	z-index: 30;
}
div.arrow-left-after{
	position: absolute;
	top: 14px;
	margin-left: -23px;
	border: 6px solid transparent;
	border-right: 6px solid #ddd;
	z-index: 15;
}
div.arrow-right{
	right: -5px;
	top: 15px;
	border-left: 5px solid limegreen;
}
/*Scrollbar styles*/
.scrollContainer{
	overflow-y: hidden !important;
}
.scrollContainer:hover div.scrollfield{
	opacity: 0.8;
}
div.scrollfield{
	position: absolute;
	right: 0;
	width: 10px;
	background-color: #eee;
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
}
aside .scrollfield{
	background-color: transparent !important;
	padding: 3px 0;
}
#say_something .scrollfield{
	background-color: #fff;
	padding-top: 5px;
}
div.scrollbar{
	width: 6px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #aaa;
}